---
import Logo from "../Logo.astro";
import "@styles/effects/glass.css";

const routes = [
  { path: "/", label: "Inicio" },
  { path: "/#quienes-somos", label: "Quienes Somos" },
  { path: "/#FAQ", label: "FAQ" },
  { path: "/challenges", label: "Opera y Gana" },
];

const activePath = Astro.originPathname;
---

<nav id="nav">
  <Logo />

  <ul class="flex justify-between items-center relative">
    {
      routes.map(({ path, label }) => (
        <ul>
          <a
            href={path}
            data-path={path}
            class:list={[
              "mx-1.5 sm:mx-6",
              "nav-link",
              activePath == path ? "is-active" : "",
              activePath == path ? " mx-5 text-primary" : "",
            ]}
          >
            {label}
          </a>
        </ul>
      ))
    }

    <div class="nav-indicator"></div>
  </ul>

  <div class="flex gap-3">
    <a class="bg-transparent text-primary-text btn" href="auth#login"
      >Iniciar sesión</a
    >
    <a class="bg-white text-secondary btn">Empezar</a>
  </div>
  <!-- <div class="absolute w-[90vw] border-[1px] border-white bottom-0 left-[5vw]"></div> -->
</nav>

<style>
  @import "tailwindcss";

  #nav {
    @apply flex justify-between items-center px-10 py-7 w-[100vw] fixed z-20 border-b-1;
    transition:
      border-color ease-in-out 0.4s,
      background-color ease-out 0.25s;
  }

  #nav:not(.scrolled) {
    @apply bg-transparent border-white/0 backdrop-blur-[0px];
  }

  #nav.scrolled {
    @apply bg-gray-400/5;
    @apply border-white/25;
    @apply backdrop-blur-sm;
  }

  .nav-indicator {
    @apply absolute bottom-[-.2rem] h-1 bg-white rounded-sm;
    transition:
      left 0.3s ease,
      width 0.3s ease;
    pointer-events: none;
  }
</style>

<script>
  function onScroll() {
    const header = document.getElementById("nav");
    if (!header) return;

    if (window.scrollY > 100) {
      header.classList.add("scrolled");
    } else {
      header.classList.remove("scrolled");
    }
  }

  document.addEventListener("scroll", onScroll);
</script>

<script type="module">
  const sections = [
    { id: null, path: "/" }, // fallback para arriba del todo
    { id: "quienes-somos", path: "/#quienes-somos" },
    { id: "FAQ", path: "/#FAQ" },
  ];

  const secondSection = document.getElementById("quienes-somos");
  const thirdSection = document.getElementById("FAQ");

  const navLinks = document.querySelectorAll(".nav-link");

  function updateNavIndicator() {
    const activeLink = document.querySelector(".nav-link.is-active");
    const indicator = document.querySelector(".nav-indicator");

    if (!activeLink || !indicator) return;

    const { offsetLeft, offsetWidth } = activeLink;
    indicator.style.left = `${offsetLeft}px`;
    indicator.style.width = `${offsetWidth}px`;
  }

  function updateActiveLink(path) {
    navLinks.forEach((link) => {
      const isActive = link.dataset.path === path;
      link.classList.toggle("text-primary", isActive);
      link.classList.toggle("text-primary-text", !isActive);
      link.classList.toggle("is-active", isActive);
    });
  }

  updateStyle(true);

  function updateStyle(initial = false) {
    if ("/" != window.location.pathname) return;
    const scrollPosition = window.scrollY + 116;

    let activeSectionPath = sections[0].path;
    if (thirdSection && scrollPosition >= thirdSection.offsetTop) {
      activeSectionPath = sections[2].path;
    } else if (secondSection && scrollPosition >= secondSection.offsetTop) {
      activeSectionPath = sections[1].path;
    }

    if (
      window.location.pathname + window.location.hash !== activeSectionPath ||
      initial
    ) {
      history.replaceState(null, "", activeSectionPath);
      updateActiveLink(activeSectionPath);
      updateNavIndicator();
    }
  }

  window.addEventListener("scroll", () => updateStyle());
  window.addEventListener("hashchange", () => updateStyle());
  updateNavIndicator();
</script>
